{% extends 'base.html' %}
{% block title %}ASTRONAUTS{% endblock %}
{% block content %}

<!-- About Section -->
<section id="home" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2 style="color:#029bdb">About Rocketmen</h2>
			<p>
				Have you ever wondered how many people are in space right now? Who are they? How long have they been out there?</p>

			<p> 
				Rocketmen provides users with realtime information about astronauts. Keep tabs on who's floating, what they are like and who's been in space the longest. Follow them as they work and explore in zero gravity. Share their photos and videos via twitter. Be notified when the number of people in space changes. </p>

			<p>
				Rocketmen makes it easy for you to spot the International Space Station (ISS) and watch it on a map as it moves across the globe. You can also request a forecast of the next visible pass for any location in the world. </p>

			<p>	
				This is an open source project. We welcome any and all suggestions and contributions!
			</p>
		</div>
	</div>
</section>

<!-- Contact Section -->
<section id="download" class="content-section text-center">
	<div class="download-section">
		<div class="container contact-container">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 style="color:#029bdb">Contact Rocketmen</h2>
				<p>Feel free to email us for more information about Rocketmen, to provide some feedback, to give us suggestions, or to just say hello!</p>
				<p><a href="mailto:not-a-real-email@re-connect.com">not-a-real-email@rocketmen.com</a>
				</p>
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="https://github.com/alenakruchkova/ROCKETMEN.git" class="btn btn-default btn-lg" style="background-color:#f96b03"><i class="fa fa-github fa-fw" ></i> <span class="network-name" style="color:white">Github</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock %}

<script>

</script>