<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet"
		href="../static/style.css">

	<script src="https://code.jquery.com/jquery.js"></script>
	

  	<title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  	

  	{% block head %}
  		<!-- put extra CSS/JS here -->
  	{% endblock %}

</head>

<body>

<div class="example3">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/about"><img style="max-height:45px" class="img-responsive" src="/static/img/logo.png" alt="ABOUT"></a>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/home"><img style="max-height:45px" class="img-responsive" src="/static/img/astro_logo.png" alt="ASTRONAUTS"></a></li>
          <li><a href="/iss"><img style="max-height:45px" class="img-responsive" src="/static/img/iss_logo.png" alt="ISS"></a></li>
          <li><a href="/stats"><img style="max-height:40px" class="img-responsive" src="/static/img/stats_logo.png" alt="STATS"></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>

	<!-- Static navbar -->



  	{% block content %}BODY CONTENT GOES HERE {% endblock %}


</body>

</html>