{% extends 'base.html' %}
{% block title %}ROCKETMEN home{% endblock %}
{% block content %}



<!-- Nav to ISS and Astronauts pages -->

<div class="container">
	<div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3 col-md-offset-1 col-lg-offset-1">
        		<div class="row">
	        		<div class="text-lg">
	        		
	      				{{ num_result }}
	      			
	      			</div>
	      		</div>
	      		<!-- <div class="row">
					<form id="location-form">
						<label for="field-location"></label>
						<input type="text" name="address" id="field-location">
						<input type="submit" id="submit-button">
					</form>
				</div> -->
	     </div>
	    <div class="col-xs-12 col-md-6 col-lg-6">
  			<div class="text-md">
  				<br>
	        	<ul>
					{% for name in name_id %}
						<li>
							{% if name_id[name] %}
								<a href="astronauts/{{ name_id[name] }}">
									{{ name }}
								</a>
							{% else %}
								{{ name }}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
        	</div>
        </div>
    </div>
</div>

{% endblock %}