{% extends 'base.html' %}
{% block title %}ROCKETMEN home{% endblock %}
{% block content %}

<h1><b>6</b></h1>


<form action= "/astronauts/<int:astronaut_id>" method="GET">
  	<input type="submit" value="SCOTT KELLY">
</form>


  <p>
    Mikhail Kornienko<br>
    Russia<br> 
    318 days
  </p>
  <p>
    Sergey Volkov<br>
    Russia<br> 
    159 days
  </p>
  <p>
    Tim Kopra<br>
    USA<br> 
    55 days
  </p>
  <p>
    Tim Peake<br>
    UK<br> 
    55 days
  </p>
  <p>
    Yuri Malenchenko<br>
    Russia<br> 
    55 days
  </p>






{% endblock %}