<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
 	<link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet"
		href="static/bootstrap-styles.css">

	<script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>
	<!-- Nav to home page -->

<!-- It's container-fluid so it spans the whole page. -->


<div class="container">
	<div class="index">
		<div class="row">
			<div class="col-xs-12 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
				<div class="vcenter">
					<a href="/home"><img style="max-height:300px" class="img-responsive" src="/static/img/astro_index.jpg">
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1" >
				<div class="vcenter">
					<a href="/iss"><img style="max-height:300px" class="img-responsive" src="/static/img/iss_index.jpg">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>



</body>

</html>