<!-- {% extends 'base.html' %}
{% block title %}ROCKETMEN home{% endblock %}
{% block content %}

	<!-- ISS page -->

<!-- <br>
 Calculate upcoming ISS passes for a particular location:
 <br>
<form action="/iss-pass" id="location-form">
	<label for="field-location">Location</label>
	<input type="text" name="address" id="field-location">
	<input type="submit">
</form>

<div>
	{% if lat %}
		Latitude: {{ lat }}
	{% endif %}
</div>
<div>
	{% if lng %}
		Longitude: {{ lng }}
	{% endif %}
</div>

{% endblock %} --> -->