{% extends 'base.html' %}
{% block title %}ISS{% endblock %}
{% block head %}
   <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
        }

        .window-content {
            color: #04162b;;
        }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>

	    function initMap(){
	    	// Specify where map is centered
	    	var myLatLng = {lat:{{lat}},lng:{{lng}}}

	    	// Create map obj and specify the DOM element for display
	    	var map = new google.maps.Map(
	                    document.getElementById('map-canvas'),{
	                    center: myLatLng,
	                    zoom: 3
	        });

	        var icon = {
			    url: '/static/img/iss-400w.png', // url
			    scaledSize: new google.maps.Size(50, 50), // scaled size
			    origin: new google.maps.Point(0,0), // origin
			    anchor: new google.maps.Point(0, 0) // anchor
			};

	        var marker = new google.maps.Marker({
	    		position: myLatLng,
	    		map: map,
	    		icon: icon
	    	})

	    }

	    google.maps.event.addDomListener(window, 'load', initMap);


		// //Time between marker refreshes
	 //    var INTERVAL = 2000;
        
	 //    function getMarkers() {

	 //    	var myLatLng = {lat:{{lat}},lng:{{lng}}}

	 //    	var marker = new google.maps.Marker({
	 //    		position: myLatLng,
	 //    		map: map,
	 //    		icon: icon
	 //    	})
    
  //       }

  //       window.setTimeout(getMarkers,INTERVAL);
    

    </script>
{% endblock %}
{% block content %}
	<!-- ISS page -->

<br>
 Calculate upcoming ISS passes for a particular location:
 <br>
<form id="location-form">
	<label for="field-location">Location</label>
	<input type="text" name="address" id="field-location">
	<input type="submit" id="submit-button">
</form>

<div>
	<p id="show-result"></p>
</div>
<br>	
<div id="map-canvas"></div>


<script>
	function showNextPass(results){
		$('#show-result').text("Next ISS Pass for your location will happen on " + results.date_time + " and will last for " +results.duration + " seconds");
		console.log(results.date_time);
	}

	function getIssPass(evt){
		evt.preventDefault();

		var address = {
			"address": $("#field-location").val()
		};
		console.log(address);
		$.get('/iss-pass', address, showNextPass);
	}
	$('#submit-button').on('click', getIssPass);
</script>



{% endblock %}